nav {
  padding: 0.5em 1em;
  background-color: var(--surface2);
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  display: inline-flex;
}

nav > ul > li > a {
  text-decoration: none;
  padding: 0.4em 0.7em;
  margin: 0em 0.4em;
  display: block;
  color: var(--text1);
  border-radius: var(--border-radius);
}

nav > ul > li > a:hover {
  background-color: var(--brand);
  color: var(--surface2);
}

nav > form {
  display: flex;
  align-items: center;
}

.active {
  background-color: var(--brand);
  color: var(--surface2);
}
