.App {
  font-family: sans-serif;
  text-align: center;
  background-color: hsl(
    var(--brand-hue),
    var(--brand-saturation),
    var(--brand-lightness)
  );
}

:global * {
  background-color: red;
}
